.p-front {
  &__form-inner {
    width: 100%;
    max-width: 34.2rem;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0 0 1rem rgba(210, 210, 210, 0.6);
    padding: 2.9rem 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  &__form {
    position: relative;
    background-color: #eb6101;
    padding: 4rem 1.6rem 6rem;
    margin-top: 9.3rem;
  }

  &__form-wave {
    position: absolute;
    top: 0.1px;
    left: 0;
    width: 100%;
    transform: translateY(-99%);
  }

  &__form-wave-image {
    width: 100%;
    height: auto;
    display: block;
  }

  &__form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__form-title {
    width: 14.5998rem;
    margin: 0 auto;
  }

  &__form-steps {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form-step {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: rgba(235, 97, 1, 0.4);

    &.is-active,
    &.is-completed {
      background-color: #eb6101;
    }
  }

  &__form-step-line {
    width: 1.2rem;
    height: 0.1rem;
    background-color: #eb6101;
  }

  &__form-card {
    width: 100%;
  }

  &__form-body {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  &__form-question {
    display: none;

    &.is-active {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    &__select {
      outline: none;
      width: 100%;
      appearance: none;
      font-size: 1.4rem;
      background-color: #fff;
      border: 1px solid #b7b9b8;
      border-radius: 0.2rem;
      padding: 1.4rem 3rem 1.4rem 1.6rem;
      line-height: 1.2;
      box-shadow: 0 0 1rem rgba(200, 200, 207, 0.3);
      color: #333;

      &:focus {
        border-color: #58b2e1;
      }

      &.is-error {
        border-color: #cf0100;
      }
    }

    &__birthday {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      width: 100%;

      .birthday-field {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        &__unit {
          font-size: 1.4rem;
          white-space: nowrap;
        }
      }
    }
  }

  &__form-question-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    text-align: center;
  }
  &__form-question-text {
    font-weight: 700;
    font-size: 2rem;
    line-height: 140%;
    letter-spacing: 8%;
    text-align: center;
    color: #0a142d;
  }

  &__form-options {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &.is-error .p-front__form-option {
      border-color: #eb6101;
    }
  }

  &__form-option {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    transition:
      background-color 0.2s,
      border-color 0.2s;

    &:hover {
      border-color: #eb6101;
    }

    &:has(.p-front__form-radio:checked) {
      border-color: #eb6101;
    }
  }

  &__form-options {
    .input-group {
      &__label {
        display: block;
        span {
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 200%;
          letter-spacing: 0.02em;
          color: #303030;
        }
      }

      &__note {
        display: block;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 120%;
        letter-spacing: 0%;
        color: #707070;
        margin-bottom: 0.4rem;
      }

      &__input {
        width: 100%;
        background: #f9f9f9;
        border: 1px solid #b5b5b5;
        border-radius: 0.5rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        letter-spacing: 0.02em;
        color: #2e2f30;
        padding: 1.3rem 1.9rem;
        outline: none;
        transition: border-color 0.2s;
        margin-top: 0.3rem;
        &:focus {
          border-color: #eb6101;
        }
      }
    }
  }

  &__form-radio {
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border: 0.1rem solid #0a142d;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;

    &:checked {
      border-color: #eb6101;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: #eb6101;
      }
    }
  }

  &__form-option-text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 100%;
    letter-spacing: 0.08em;

    color: #0a142d;
  }

  &__form-inputs,
  &__form-input-group {
    display: flex;
    flex-direction: column;
  }

  &__form-inputs {
    gap: 2rem;
  }

  &__form-input-group {
    gap: 0.8rem;
  }

  &__form-label {
    font-size: 1.4rem;
    font-weight: 700;
    color: #2e2f30;
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__form-input,
  &__form-select {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #2e2f30;
    background-color: #fff;
    outline: none;
    transition: border-color 0.2s;

    &:focus {
      border-color: #eb6101;
    }

    &.is-error {
      outline: #eb6101;
      background-color: #fff5f5;
    }
  }

  &__form-input {
    appearance: none;
    padding: 1.6rem;
    border: 1px solid #aeaeae;
    border-radius: 0.4rem;
    box-shadow: 0 0 1rem rgba(200, 200, 207, 0.5);

    &::placeholder {
      color: #bababa;
    }

    &--age {
      width: 6rem;
      padding: 1.6rem 0 1.6rem 1.6rem;
    }
  }

  &__form-required {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    background-color: #eb6101;
    padding: 0.2rem 0.6rem;
    border-radius: 0.2rem;
  }

  &__form-note {
    font-size: 1.2rem;
    font-weight: 400;
    color: #2e2f30;
  }

  &__form-age {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__form-age-prefix,
  &__form-age-suffix {
    font-size: 1.4rem;
    font-weight: 700;
    color: #2e2f30;
  }

  &__form-select-wrap {
    position: relative;
    display: inline-block;
  }

  &__form-select {
    appearance: none;
    border: 0.1rem solid #b5b5b5;
    border-radius: 0.5rem;
    background: #f9f9f9;
    cursor: pointer;
    width: auto;
    padding: 1.2rem 2.5rem 1.2rem 1rem;
    height: 5.6rem;
    min-width: 6.8rem;
    box-sizing: border-box;
    color: #303030;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: 0.02em;
    background: url(../img/ico-select.png) no-repeat center right 1rem;
    background-size: 1rem;

    &:invalid {
    }
  }

  &__form-checkbox-group {
    display: flex;
    justify-content: flex-start;
    margin-top: -1.3rem;

    &.is-error .p-front__form-checkbox-icon {
      border-color: #eb6101;
    }
  }

  &__form-checkbox-label {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }

  &__form-checkbox {
    display: none;
  }

  &__form-checkbox-icon {
    width: 1.6rem;
    height: 1.6rem;
    border: 0.1rem solid #aeaeae;
    border-radius: 0.2rem;
    background-color: #fff;
    position: relative;
    flex-shrink: 0;
  }

  &__form-checkbox:checked + &__form-checkbox-icon {
    background-color: #eb6101;
    border-color: #eb6101;

    &::after {
      content: "";
      position: absolute;
      top: 0.1rem;
      left: 0.4rem;
      width: 0.4rem;
      height: 0.8rem;
      border-right: 0.2rem solid #fff;
      border-bottom: 0.2rem solid #fff;
      transform: rotate(45deg);
    }
  }

  &__form-checkbox-text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #303030;

    a {
      color: #eb6101;
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }
  }

  &__form-error {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    color: #eb6101;
    margin-top: 0.8rem;
  }

  &__form-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    width: 100%;
    padding: 2rem 1.6rem;
    border-radius: 5rem;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1;

    cursor: pointer;
    border: none;
    transition: opacity 0.2s;
    border: 2px solid transparent;
    background-color: #fff;

    &:hover {
      opacity: 0.7;
    }

    &:disabled {
      cursor: not-allowed;
      display: none;
    }

    &--prev {
      color: #9a9a9a;
      border-color: #9a9a9a;
      background: url(../img/btn-prev.png) no-repeat center left 1.6rem;
      background-size: 3.2rem;
    }

    &--next {
      color: #eb6101;
      border-color: #eb6101;
      background: url(../img/btn-next.png) no-repeat center right 1.6rem;
      background-size: 3.2rem;
    }

    &--submit {
      display: none;
      background: #eb6101;
      color: #fff;
    }
  }
  &__form-btn-text {
    line-height: 1;
  }
}

/* 生年月日 */
.p-front__form {
  &-birthday {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
  }

  &-birthday-field {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  &-birthday-unit {
    color: #303030;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 200%;
    letter-spacing: 0.02em;
  }
}
