/** home
======================================= **/
.p-wrapper {
  position: relative;
  max-width: 128rem;
  margin: 0 auto;
  //background: #EC2C2C;
  //width: 100%;
  //height: 100vh;
  //overflow-y: auto;
}

.c-sidebar {
  position: fixed;
  display: block;
  max-width: 128rem;
  width: 100%;
  height: 100vh;
  margin-inline: auto;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;

  @media (max-width: 1279px) {
    display: none;
  }

  &__left {
    position: fixed;
    top: 0;
    left: 6.2rem;
    width: 32.9rem;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    right: 3.1rem;
    transform: translateY(-50%);
    z-index: 100;
    width: 34rem;
  }

  &__menu {
    background: #fff;
    padding: 4rem 2.8rem;
    min-width: 39.1rem;
    border-radius: 0.8rem;
    box-sizing: border-box;

    .menu-list {
      max-width: 26.9rem;
      margin: 0 auto;

      li {
        a {
          font-weight: 700;
          font-size: 2rem;
          line-height: 140%;
          letter-spacing: 0.04em;
          color: #31304d;
          display: block;
        }

        & + li {
          margin-top: 2.8rem;
        }
      }
    }

    .nav-btn {
      margin-top: 2.8rem;
      font-family: Noto Sans JP;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1;
      text-align: center;
      background: #eb6101;
      width: 100%;
      border-radius: 50px;
      color: #fff;
      transition: 0.3s ease;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.2rem 0;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.page-main {
  max-width: 37.5rem;
  order: 2;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  .logo {
    background: #fff;
    text-align: center;
    padding: 1.4rem 0;
  }

  @include sp {
  }
}

.page-error {
  max-width: 100%;
  left: 0;
  width: 100%;
  box-shadow: none;

  .p-404 {
    padding: 8rem 0;
    text-align: center;
    color: #fff;

    @include sp {
      padding: 4rem 0;
    }

    h2 {
      font-size: 11rem;
      margin-bottom: 3rem;
      font-family: $font_en;
      line-height: 1.5;

      @include sp {
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 1.5rem;
      }
    }

    .txt1 {
      font-size: 2.5rem;
      line-height: 1.5;
      margin-bottom: 4rem;

      @include sp {
        font-size: 1.5rem;
        line-height: 1.5;
        letter-spacing: 0;
        margin-bottom: 2rem;
      }
    }
  }

  .footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

// header
.l-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 37.5rem;
  margin: 0 auto;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  min-height: 6.1rem;
  box-sizing: border-box;
  background: transparent;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;

  &.active {
    background: #0c152e;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 37.5rem;
    width: 100%;
    margin: 0 auto;
  }

  &__logo {
    max-width: 17.42rem;

    a {
      display: block;
      font-size: 0;
    }

    @media screen and (max-width: 767px) {
      max-width: 15.3rem;
    }
  }

  &__hamburger {
    position: relative;
    width: 2.438rem;
    height: 2.4rem; // tăng vùng click
    background: transparent;
    border: none;
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 0.3rem;
      background: #fff;
      border-radius: 50px;
      transform: translateY(-50%);
      transition: 0.3s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.3rem;
      background: #fff;
      border-radius: 50px;
      transition: 0.3s;
    }

    &::before {
      top: 0.4rem;
    }

    &::after {
      bottom: 0.4rem;
    }

    &[aria-expanded="true"] {
      span {
        opacity: 0;
      }

      &::before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      &::after {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }

  &__nav {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 6.1rem;
    left: 50%;
    transform: translateX(-50%);
    background: #0c152e;
    z-index: 100;
    width: 100%;
    max-width: 37.5rem;
    height: calc(100dvh - 6.1rem);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;

    &.is-active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    .nav-inner {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 2rem;
    }

    .nav-menu {
      li {
        & + li {
          margin-top: 2.8rem;
        }

        a {
          display: block;
          position: relative;
          font-family: "Noto Sans JP";
          font-weight: 700;
          font-size: 2rem;
          line-height: 140%;
          text-align: center;
          letter-spacing: 0.04em;
          color: #ffffff;

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }

    .nav-btn {
      margin-top: 2.8rem;
      font-family: Noto Sans JP;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1;
      text-align: center;
      background: #eb6101;
      width: 100%;
      border-radius: 50px;
      color: #fff;
      transition: 0.3s ease;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.2rem 0;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.main-visual {
  position: relative;

  img {
    width: 100%;
  }
}

.hidden {
  opacity: 0 !important;
}

.s-entry {
  background: linear-gradient(
    89.67deg,
    #ffb835 0.19%,
    #cf6c6e 24.28%,
    #b6448b 57.15%,
    #399ac4 99.63%
  );
  padding: 4.4rem 2rem 4rem 2rem;

  &__ttl {
    margin-bottom: 2.7rem;
  }
}

.s-environment {
  position: relative;
  z-index: 2;
  background: #0a142d;
  padding: 4.1rem 0;

  &__list {
    padding: 2.4rem 2rem 0 2rem;
  }

  img {
    width: 100%;
  }
}

.s-experience {
  background: #0a142d;
  padding: 4rem 2rem;
}

.s-job {
  background: #0a142d;
  padding: 7.8rem 2rem 4rem;
  margin-top: -5rem;

  &__list {
    & + & {
      margin-top: 3.6rem;
      padding-top: 3.6rem;
      border-top: 1px solid rgba(255, 255, 255, 0.32);
    }
  }

  & :last-child {
    img {
      padding: 0 5.85rem;
    }
  }
}

.s-thanks {
  padding: 8rem 2rem 0 2rem;
  background: #0c152e;

  img {
    width: 100%;
    display: block;
  }

  &__ttl {
    margin-bottom: 2.8rem;
  }

  &__list {
    padding: 2.8rem 2.4rem;
    background: #fff;
    border-radius: 0.8rem;

    ul {
      li {
        & + li {
          margin-top: 1.7rem;
        }
      }
    }

    .nav-btn {
      margin-top: 2rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #f88400;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 120%;
        text-align: center;
        color: #f88400;
        background: #fff;
        border-radius: 5rem;
        min-height: 6rem;
        transition: 0.3s ease;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.footer {
  background: #0a142d;
  position: relative;
  &__inner {
    padding: 3.3rem 0.8rem;
    display: flex;
    min-height: 8.4rem;
    box-sizing: border-box;
  }
}

.mg-t0 {
  margin-top: 0 !important;
  background: #ffffff;
}

.txt-red {
  color: #ec2c2c;
}

@media screen and (min-width: 1280px) {
  .g-nav {
    left: calc((100% - 1280px) / 2 + 1000px);
  }
}

html.no-scroll {
  .page-main {
    opacity: 0;
  }
}
